@font-face {
    font-family: Otama;
    src: url(../assets/fonts/Otama.otf);
}

html, body{
	width:100%;
	height: 100%;
	overflow:hidden;
    font-family: 'Open Sans', sans-serif;
	font-size:16px;
}
h1{
	font-family:'Otama', serif;
	font-size:2.5em;
}
/*helpers*/
.flex-container{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-container.no-wrap{
	-webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-container .half-width{
	-webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
} 
.flex-container .quarter-width{
	-webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
.margin-container{
	margin:0 -10px;
}
.margin-container >  * {
	margin:0 10px;
}
.container{
	width:98%;
	margin:0px auto;
}
.full-height{
	height:100%;
}
.full-width{
	width:100%;
}
/*end helpers*/

.left-feature, .content{
	padding:10px 15px;
}
.left-feature{
	background-color:#eee;
	-webkit-flex: 0 1 33%;
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;

}

.left-feature ul{
	list-style-type:none;
	padding:0;
}
.left-feature ul li{
	margin-bottom:1em;
	cursor:pointer;
}
.content{
	overflow-y:auto;
	background-color: #fff;
	-webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
section{
	border-bottom:2px #eee solid;
	padding:1.5em 0;
}
section:last-of-type{
	border-bottom:none;
	padding-bottom:0;
}
section > .title{
	position:relative;
	font-weight:600;
	font-size:1.5em;
	margin-bottom:1em;
}
section > .title:after{
	content:"";
	position:absolute;
	bottom:-13px;
	left:0;
	width:50px;
	height:3px;
	background-color:#333;
}
section p{
	margin:0;
}
section .sub-section{
	margin:3em 0 2em;
}
.sub-section img{
	width:100%;
}
.sub-section .title{
	font-weight:600;
	font-size:1.25em;
}
.sub-section .title+ p{
	margin-bottom:.75em;
}
.sub-section .title+ img{
	margin-top:.75em;
}
section label{
	font-size:.75em;
	font-weight:600;
	opacity:.5;
}
.sample{
	margin:.25em 0;
	font-size:1.5em;
}
.sample.light{
	font-weight:300;
}
.sample.bold{
	font-weight:600;
}
.sample.italic{
	font-style:italic;
}
.sample.large{
	font-size:2em;
}
.otama{
	font-family:"Otama", serif;
}

.card-sample{
	border:1px solid #ccc;
	border-radius:2px;
	-webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch; 
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	flex-direction:column;
	overflow:hidden;
}
.card-sample .feature{
	position:relative;
	width:100%;
	height:200px;
	border-bottom:1px #eee solid;
}
.card-sample img{
	width:100%;
	height:auto;
}
.feature.white{
	background-color:#fff;
}
.feature.beige{
	background-color:#e5ded4;
}
.feature.black{
	background-color:#333;
}
.feature.purple{
	background-color:#40186e;
}
.card-sample .card-label{
	padding:10px 15px;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	flex-direction:column;
	-webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
	-webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.node{
	width:40px;
	height:40px;
	background-color:red;
	border-radius:50%;
	position:absolute;
	top:calc(50% - 20px);
}
.card-sample button{
	margin-top:.5em;
	border:2px #ccc solid;
	background-color:#fff;
	padding:10px 0;
}